body {
    background-color: #f1f5f8;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
     overflow: scroll;
}

.panel{
    display: flex;
    position:fixed;
    top:22px;
    left:25px;
    z-index: 3;
}


.logo button {
    margin-bottom: 20px;
    width: 100px;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.logo button img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}


.left {
    background-color: #133e70;
    color: white;
    width: 150px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.left button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.left button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu {
    margin-top: 180px;
}

.footer {
    margin-top: 200px;
}

.top {
    background-color: #0d3059;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 90%;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile span {
    font-size: 14px;
}

.header {
    background-color: #f1f5f8;
    color: #a5a5b2;
    border: 1px solid #a5a5b2;
    border-left: none;
    border-right: none;
    padding: 20px;
    position: fixed;
    top: 70px;
    left: 150px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    box-sizing: border-box;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 220px;
    height: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    margin-left: 35%;
    width: max-content;
   
}

.content button{
    border: none;
    background: none;
}
.content button img{
    width: 20px;
    height:20px;
}

.request{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.request p{
    font-weight: bold;
}

.request div{
    font-size: 12px;
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 350px;
    margin-bottom: 15px;
}

.request div select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.history{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.history p{
    font-weight: bold;
    margin-bottom: 20px;
}
.history table thead{
    text-align: left;
    
}
.history table thead tr th{
    padding: 10px;
}
.history table tbody tr{
   height: 50px;
    border-bottom: 1px solid black;
}

.history table tbody tr td{
    width: 30px;
    padding: 10px;
    
}
.history table tbody tr td:nth-child(4){
    text-align: center;
}